<head>
  <link rel="stylesheet" href="../css/style.css" type="text/css" />
</head>
<div class="row info">
  <div class="col-sm-8">
    <div class="card loca">
      <div class="card-title">
        <h2 class="location">
          <a href="/api/locations/{{id}}">{{locationName}}</a>
        </h2>
      </div>
      <div class="card-body">
        <p class="card-text">{{description}}</p>
        </div>
        <div class="card-footer">
        <button class="like" data-id="{{id}}" data-liked="false" data-likes="{{likes}}">
          <i class="fas fa-thumbs-up"></i>
        </button>
        <a href="/api/locations/{{id}}" data-id="{{id}}" class="btn btn-info review" style="float:right" role="button">Review!</a>

      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <img class="image" src="/{{picture_url}}" alt="404 Picture Not Found">
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <iframe width="100%" height="100%" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAPDiDit4kovSff-o1DtYGHyWjyr4RHUqI&q={{address}}"
      allowfullscreen>
    </iframe>
    {{!--
    <img src="https://maps.googleapis.com/maps/api/staticmap?center=Dunham+Tavern,6709+Euclid+Ave,Cleveland&key=AIzaSyAPDiDit4kovSff-o1DtYGHyWjyr4RHUqI&size=200x200"
      alt="did not work"> --}}
  </div>
  <div class="col-sm-6">
    <form action="/api/submitReview/{{id}}" method="post">
    <div class="form-group">
      Name:
      <input class="form-control" type="text" name="name">
      </div>
      <div class="form-group">
       Review:
      <textarea class=" form-control reviewBody" name="body" rows="8" cols="50"></textarea>
      <br>
      <input type="submit">
      </div>
    </form>
  </div>
</div>



{{#each this.Reviews}}

<div class="row info">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-title">
        <h2 class="review rounded">{{username}}</h2>
      </div>
      <div class="card-body">
        <p class="card-text">{{body}}</p>
        <div class="card-footer">{{createdAt}}</div>
      </div>
    </div>
  </div>

</div>

{{/each}}