 {{!-- {{#each Locations}}

<div class="row info">
  <div class="col-sm-8">
    <div class="card loca">
      <div class="card-title">
        <h2 class="location">
          <a href="/api/locations/{{id}}">{{locationName}}</a>
        </h2>
      </div>
      <div class="card-body">
        <p class="card-text">{{description}}</p>
        </div>
        <div class="card-footer">
        <button class="like" data-id="{{id}}" data-liked="false" data-likes="{{likes}}">
          <i class="fas fa-thumbs-up"></i>
        </button>
        <a href="/api/locations/{{id}}" data-id="{{id}}"  class="btn btn-info review" style="float:right" role="button">Review!</a>

      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <img class="image" src="/{{picture_url}}" alt="404 Picture Not Found">
  </div>
</div>


{{/each}} --}}

<div class="Welcome">
  <p>Hello everyone. I hope you'll' foind this webpage useful!</p>
</div>