<head>
    <link rel="stylesheet" href="../css/style.css"/>
</head>

<div class="container top">
    {{#each spells}}

    <div class="spellCard ">
        <div class="spellName">
            <p class="fl">{{name}}</p>
            <p class="fr">{{type}}: {{level}}</p>
        </div>

        <br>
        <hr>

        <div class="spellTraits">
            <p class="fl">Traits: {{traits}}</p>
            <p class="fr">{{action}}: {{casting}}</p>

        </div>
        <br>
        <hr>
        {{#if trigger}}
        <div class="fl">
            <p>{{trigger}}</p>
        </div>
        <br>
        <hr>
        {{/if}}

        {{#if duration}}
        <div class="fl">
            <p>{{duration}}</p>
        </div>
        <br>
        <hr>
        {{/if}}

        <div class="targeting">
            {{#if range}}
            <p class="fl">Range: {{range}}
            </p>
            {{/if}}
            {{#if area}}
            <p class="fl">Area: {{area}}
            </p>
            {{/if}}
            {{#if target}}
            <p class="fr">{{target}}</p>
            {{/if}}
        </div>

        <br>
        <hr>

        <div>
            <p>{{description}}</p>
            {{#if heightened}}
            <p>{{heightened}}</p>
            {{/if}}

        </div>
        <button data-name="{{name}}" data-type={{type}} data-level={{level}} data-traits = "{{traits}}"
         class="btn btn-primary removeSpell">Remove from your Spellbook.</button>
    </div>
    

    {{/each}}
</div>

<script>

 //$(".removeSpell").click(function(){
 //   var newSpell = this.dataset

 //   console.log(newSpell)

 //   var tempSpells = sessionStorage.getItem("yourSpells")
 //   var tempSpellsArray = tempSpells.split(",")
 //   tempSpellsArray.push(newSpell)
 //   sessionStorage.setItem("yourSpells", tempSpellsArray)
 //   console.log(sessionStorage.getItem("yourSpells"))
    
//}) 

</script>